.Ironhack crash{
font-size: 3em;
color: purple;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
padding-left: 200px;
}
#game-board{
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
   
}
#canvas{
    padding-left: 50px;
    margin-left: 150 px;
}
#start-button{
    text-align: center;
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    color: black;
    margin-left: 630px;
    width: 250px;
    height: 80px;
    border: 10p x solid red;
    border-radius: 15px;
}
#score1{
    display: flex;
    align-content: inherit;
    padding-left: 205px;
    padding-top: 2px;  
}
#score2{
    display: flex;
    align-content: inherit;
    padding-left: 876px;
    padding-top: 10px;  
}
.contenedor{
    display:flex;
    align-items: baseline;
    padding-left: -100px;
   
}
.contenedor2{
    display:flex;
    align-items: baseline;
    padding-left: 100px;
    width: 400px;
    border-top: 500px; 
}
#instrucciones{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    color: black;
}
#texto{
    text-align: center;
    font-size: 1.4em;
    color: red;

}
